@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Ubuntu:wght@400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    color: white;
}

/* navigation bar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    position: sticky;
    top: 0px;
}

.navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

/* left container */

#left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


#left ul {
    display: flex;
    list-style: none;
}

#left li {
    margin: 10px;
}

#left ul li a {
    text-decoration: none;
    display: block;
    padding: 1px 5px;
    border-radius: 15px;
    color: white;
}


#left ul li a:hover {
    color: black;
    background-color: white;
}


#logo {
    margin: 4px 2px;

}

#logo img {
    width: 60px;
    border-radius: 45px;
}

/* Right container */

#right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

#right .input[type="text"] {
    margin: 0px 15px;
    padding: 4px 15px;
    width: 10vw;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    background: transparent;


}

@media (width:50%) {
    #right .input[type="text"] {
        width: 10px;
    }


}

/* utility class */

.a {
    color: white;
    font-size: 20px;
    text-decoration: none;

}

.btn {
    background: red;
    margin: 0px 2px;
    padding: 2px 15px;

    height: inherit;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    background-color: #666666;
    font-size: 1em;
}